@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Quantico:wght@700&display=swap");

:root {
  --white: #e8e5e1;
  --black: #212121;
  --dark_black: #181717;
  --yellow: #fdbe34;
  --gray: #85888c;
}

body {
  background: var(--dark_black);
}

.underline {
  background-color: var(--yellow);
  width: 20%;
  height: 4px;
  border-radius: 20px;
}

.header-container {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  color: var(--white);
  font-weight: bolder;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

/* NAVIGATION MENU */
.container {
  /* box-shadow: 1px 1px 3px 0px #f9ca24;
  position: fixed;
  width: 100%;
  top: 0; */
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  position: relative;
}

nav a:hover{
    color: var(--yellow);
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* SIDE BAR */
.side-bar {
    height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0px;
}

.side-link {
  text-decoration: none;
  color: var(--yellow);
  margin: 5px;
  font-weight: bolder;
  box-shadow: 1px 1px 3px 0px #f9ca24;
  font-size: xx-large;
}

.side-link:hover{
    background-color: var(--black);
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.logo_img {
  height: 3.5rem;
  width: 3.5rem;
}

.logo-name {
  color: var(--white);
  font-size: xx-large;
  font-weight: 700;
  font-family: Poppins;
}

/* MENU ICON */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: #f9ca24;
  display: block;
  height: 2px;
  position: relative;
  width: 40px;
}

.hamb-line::before,
.hamb-line::after {
  background: #f9ca24;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -10.5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

/* MIDDLE LINE IN BURGER */
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
  background-color: #f9ca24;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
  background-color: #f9ca24;
}

/* GENERAL */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--white);
  font-size: xx-large;
  text-align: center;
}

/* HOME */

.home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  padding: 0px 10px;
}

.home-container {
  /* background: url(portfolio-icons/bg-dashboard.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.home-text {
  display: flex;
  flex-direction: column;
}

.home-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.home-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile_img {
  width: 30rem;
  height: 30rem;
}

.text_h2 {
  font-family: "Poppins";
  color: var(--yellow);
  font-size: 4rem;
  padding: 0.4rem;
  border-radius: 20px;
}
.text_h3 {
  font-family: "Nunito Sans", sans-serif;
  color: var(--white);
  font-size: 3rem;
}

.text_p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  color: var(--white);
}

.dl-cv{
/* background-color: var(--yellow); */
border: 1px solid var(--yellow);
padding: 5px;
border-radius: 5px;
}

.btn-cv {
  width: 20%;
  height: 2.3rem;
  place-self: center;
  
  color: var(--yellow);
  font-size: 1.3rem;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.dl-cv:hover {
  background-color: var(--yellow);
  transition: all ease-in 0.4s;
}

.btn-cv:hover{
 color: var(--black);
}

/* ABOUT */
.about {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  padding: 0 50px;
}

.about_profile_img {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
}

.about-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.about-col-2 {
  padding: 10px;
  border-radius: 20px;
}

.name {
  color: var(--yellow);
  text-align: left;
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
}

.article {
  color: var(--white);
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.about-col-1 {
  display: flex;
  gap: 10px;
}

.about-icons {
  display: flex;
  align-items: center;
  color: var(--yellow);
}

/* TABS */
/* .tabs-container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.about-tabs{
    display: flex;
    margin: 20px 0 40px;
}

.tab-link{
    margin-right: 50px;
    color: var(--yellow);
    cursor: pointer;
    position: relative;
}

.tab-link::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: -6px;
} */

.about-content-area2 {
  display: flex;
  justify-content: center;
  flex: none;
  flex-direction: row;
}

.box {
  width: calc(100% / 2);
  height: auto;
  padding: 20px;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 5px 8px rgb(249, 202, 36, 0.8);
}

.box:hover {
  background-color: var(--dark_black);
  color: var(--white);
  transition: all 0.1s ease-in;
}

.about-content-area2 {
  width: 100%;
  height: 50%;
  height: auto;
  margin: 0 auto;
}

.box-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.box-header-container img {
  width: 50px;
  height: 30px;
  object-fit: contain;
}

.area1-box1-description {
  margin-top: 20px;
  font-size: 1.1rem;
}

.about-content-area2-container1 {
  border-top-left-radius: 20px;
}

.about-content-area2-container2 {
  border-top-right-radius: 20px;
}

/* SKILLS */
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 0 50px;
}

.skills-content-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, auto);
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #252020;
  column-gap: 20px;
  border-radius: 10px;
}

.skills-content-grid-col1-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.skills-content-grid-col2-header {
  grid-row: 1/2;
  grid-column: 2/3;
}

.skills-content-grid-col3-header {
  grid-row: 1/2;
  grid-column: 3/4;
}

.skills-content-grid-col4-header {
  grid-row: 1/2;
  grid-column: 4/5;
}

.skills-grid-header {
  text-align: center;
  font-weight: 600;
  color: var(--white);
}

.skills-icons {
  display: grid;
  height: 2.5rem;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  padding: 5px;
  padding-right: 15px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-weight: bolder;
}

.skills-icons:hover {
  display: grid;
  font-weight: bold;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  padding: 5px;
  padding-right: 15px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--black);
  transition: all 0.4s ease;
}

.skills-labels {
  margin: 2px;
  font-size: 1.1rem;
  margin-left: 10px;
  grid-row: 1/2;
  grid-column: 2/3;
}

.skills-icons img {
  width: 2rem;
  height: 2rem;
  padding: 3px;
  object-fit: contain;
  grid-row: 1/3;
  grid-column: 1/2;
}

.skills-icons-subheader-vcs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  grid-row: 4/5;
  grid-column: 3/4;
}

.skills-icons-subheader-other {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  grid-row: 4/5;
  grid-column: 4/5;
}

/* .skills-icons-subheader  */
.skills-icons-html {
  grid-row: 2/3;
  grid-column: 1/2;
}

.skills-icons-css {
  grid-row: 3/4;
  grid-column: 1/2;
}

.skills-icons-javascript {
  grid-row: 4/5;
  grid-column: 1/2;
}

.skills-icons-mysql {
  grid-row: 5/6;
  grid-column: 1/2;
}

.skills-icons-mongodb {
  grid-row: 2/3;
  grid-column: 2/3;
}

.skills-icons-express {
  grid-row: 3/4;
  grid-column: 2/3;
}

.skills-icons-react {
  grid-row: 4/5;
  grid-column: 2/3;
}

.skills-icons-node {
  grid-row: 5/6;
  grid-column: 2/3;
}

.skills-icons-gitlab {
  grid-row: 2/3;
  grid-column: 3/4;
}

.skills-icons-github {
  grid-row: 3/4;
  grid-column: 3/4;
}

.skills-icons-photoshop{
    grid-row: 5/6;
  grid-column: 3/4;
}

.icons{
    font-size: 1.5rem;
    color: var(--black);
}

/* PROJECTS */
.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0 50px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  margin-top: 1rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  position: relative;
  overflow: hidden;
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  color: var(--white);
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), var(--yellow));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--yellow);
}

.layer p {
  text-align: center;
  color: var(--white);
  font-weight: 800;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-box:hover .layer {
  height: 100%;
}

.project-box img {
  width: 20rem;
  height: 15rem;
  border: 2px solid var(--white);
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.project-link-container {
  display: flex;
  margin-top: 1rem;
}
.project-link {
  display: flex;
  gap: 0;
  align-items: center;
}

.project-link a {
  margin: 0 20px;
  text-decoration: none;
  color: #841818;
  font-weight: 800;
}

/* CONTACT */
.contact {
  width: 100%;
  margin-top: 1rem;
  padding: 0 50px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact-form {
  padding: 20px 30px;
  width: 60%;
  background-color: #eeeeee;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--black);
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.input {
  font-size: 1rem;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
}

.input-header {
  grid-row: 1/2;
  grid-column: 1/3;
  padding-bottom: 5px;
  color: var(--yellow);
}

#name {
  grid-row: 2/3;
  grid-column: 1/2;
}

#email {
  grid-row: 2/3;
  grid-column: 2/3;
}

#subject {
  grid-row: 3/4;
  grid-column: 1/3;
}

#message {
  resize: none;
  grid-row: 4/5;
  grid-column: 1/3;
}

.btn-input {
  width: 25%;
  height: 2.5rem;
  background-color: brown;
  color: #ffffff;
  padding: 5px;
  grid-row: 5/6;
  grid-column: 1/3;
  cursor: pointer;
  padding: 10px;
}

.btn-input:hover {
  width: 25%;
  height: 2.5rem;
  background-color: var(--yellow);
  color: var(--dark_black);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.4s ease-in;
}

.contact-message {
  width: 38%;
  height: auto;
  border: 1px solid black;
  margin-top: 20px;
  background-color: var(--black);
  padding: 20px;
  border-radius: 10px;
}

.contact-message-header{
    color: var(--yellow)
}

.contact-message-text {
  text-align: justify;
  margin-top: 10px;
  font-size: 1rem;
  color: var(--white);
}

.message-name {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px 10px 0px;
}

.message-name img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.message-name-text {
  padding-left: 10px;
  color: var(--white);
}

.contact-message-subcontent-btn {
  display: flex;
  align-items: flex-end;
}

.btn-contact-message {
  padding: 5px;
  width: 70%;
  height: auto;
  margin: 0 auto;
  font-size: 1.1rem;
  background-color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--dark_black);
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-contact-message:hover {
  padding: 5px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--white);
  border-radius: 10px;
  background-color: white;
  color: #252020;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

footer {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: var(--yellow);
  color: var(--dark_black);
  font-weight: 900;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 820px) {
  /* .nav-menu {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    z-index: 998;
  }

  .nav-menu li {
    float: left;
  } */

  .hamb {
    display: none;
  }
}
